.AuthForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form-Title {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
    color: var(--color-primary);
    width: 300px;
    text-align: center;
    margin-bottom: 36px;
}

.Form-Subtitle {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
    color: var(--color-secondary);
    margin-top: -18px;
    width: 400px;
    margin-bottom: 18px;
    text-align: center;
}

.Form-Item {
    margin-top: 18px;
    width: 100%;
}

.Form-Item .Item-Label {
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
    color: var(--color-primary);
    margin-bottom: 4px;
}

.Form-Item .Item-Input {
    width: 100%;
    border-radius: var(--border-radius);
    padding: 8px;
    border: solid 1px var(--color-accent);
    box-sizing: border-box;
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    outline: none;
}

.Form-Item .Item-Input::placeholder {
    font-weight: 400;
    font-size: 14px;
}

.Form-Item .Item-Hint {
    font-size: 11px;
    line-height: 100%;
    font-weight: 400;
    margin-top: 4px;
    width: 50%;
    color: var(--color-secondary);
}

.Form-Footer {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Form-Button {
    background: var(--color-accent);
    padding: 12px 36px;
    border: 0;
    border-radius: var(--border-radius);
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    outline: 0;
    color: var(--color-inverted);
    cursor: pointer;
}

.Form-Footer .Footer-Info {
    font-size: 11px;
    line-height: 100%;
    font-weight: 400;
    margin-top: 4px;
    width: 230px;
    text-align: center;
    color: var(--color-secondary);
}

.Form-Footer .Footer-Actions {
    margin-top: 28px;
}

.Form-Footer .Footer-Login {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: var(--color-primary);
}
